* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
}

/* Custom HTML Cards in Experience
  --------------------------------
  release 0.5 James Mueller
*/
/* .mu--fullcard {
  width: 100%;
}

.mu--left-halfcard,
.mu--right-halfcard {
  width: 50%;
}

.mu--fullcard,
.mu--left-halfcard {
  left: 0px;
}

.mu--right-halfcard {
  left: 50%;
}

.mu--fullcard,
.mu--left-halfcard,
.mu--right-halfcard {
  position: absolute;
  height: 100%;
  bottom: 0px;
} */

.mu--card {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.mu--multicard {
  flex-basis: 100%;
}

.mu--card-overlay {
  height: 100%;
  width: 100%;
  background: linear-gradient(255deg, rgba(0, 0, 0, 0) 70%, #000 100%),
    linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, #000 100%);
  z-index: 50;
  position: absolute;
}

.mu--card-bg-image {
  height: 100%;
  width: 100%;
  z-index: 45;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  transition: 0.75s;
}

.mu--card a {
  text-decoration: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 60;
}

.mu--card-text-label {
  bottom: 10px;
  left: 10px;
  position: absolute;
  z-index: 55;
  color: #fff;
  font-family: Publico-Headline, serif;
  font-size: 28pt;
  transition: 0.5s;
  text-shadow: 0px 0px 3px #000;
}

.mu--card-link:hover .mu--card-bg-image {
  transform: scale(110%);
  background-position: center;
}

.mu--card-link:hover .mu--card-text-label {
  transition: 0.5s;
  text-shadow: 0px 0px 10px #000;
}

.mu--subtext-card-top {
  height: 60%;
  top: 0;
}

.mu--subtext-card-bottom {
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: #000000;
  width: 100%;
  height: 42%;
  color: #ffffff;
  padding: 0 72px 0 48px;
  padding-top: 0px;
  box-sizing: border-box;
  font-size: 12pt;
  z-index: 60;
}

.mu--subtext-card-bottom h3 {
  font-weight: bold;
  display: inline-block;
}

.mu--subtext-card-bottom h3:before {
  background-color: #19aced;
  content: "";
  display: block;
  height: 2px;
  left: 0;
  margin-top: 9px;
  position: absolute;
  width: 32px;
}

.mu--subtext-card-bottom p {
  margin: 5px 0px 0px 0px;
}

.mu--subtext-card-bottom a {
  color: #44a6df;
  text-decoration: none;
}

.mu--card-links {
  display: flex;
  flex-direction: column-reverse;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
}

.mu--card-links a {
  flex-basis: 20%;
  z-index: 70;
  text-shadow: 0px 0px 10px #000;
}

.mu--card-links .material-symbols-outlined {
  font-size: 20vh;
  color: #44a6df;
  transition: 0.5s;
  background-color: RGBA(0, 0, 0, 0.5);
  padding: 0 5px;
}

.mu--card-links .material-symbols-outlined:hover {
  color: #ffffff;
  transition: 0.5s;
  scale: 105%;
}

.mu--flexlink-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  height: 100%;
}

.mu--flexlink-container a {
  flex-basis: 100%;
  border-bottom: 4px solid #44a6df;
  background-color: #004185;
  color: #ffffff;
  text-decoration: none;
  position: relative;
  transition: 0.25s;
}

.mu--flexlink-container a:hover {
  border-color: #ffffff;
  color: #ffffff;
}

.mu--flexlink-bg-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 45;
  transition: 0.75s;
}

.mu--flexlink-container a:hover .mu--flexlink-bg-image {
  transform: scale(110%);
}

.mu--flexlink-overlay {
  height: 100%;
  width: 100%;
  background: linear-gradient(255deg, rgba(0, 0, 0, 0) 70%, #000 100%),
    linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, #000 100%);
  z-index: 50;
  position: absolute;
  bottom: 0;
  left: 0;
}

.mu--flexlink-label {
  font-family: Publico-Headline, serif;
  font-size: 24pt;
  transition: 0.25s;
  position: absolute;
  bottom: 2%;
  left: 1%;
  text-shadow: 0px 0px 3px #000;
  z-index: 55;
}
/* End Custom HTML Cards CSS */
