* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Noto Sans', Helvetica, Arial, sans-serif;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

div {
  overflow: hidden;
}

/* Custom HTML Cards in Experience
  --------------------------------
*/

.mu--card {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  position: relative;
}

.mu--multicard {
  flex-basis: 100%;
  border-right: 4px solid #ffffff;
}

.mu--card .mu--multicard:last-child {
  border-right: none;
}

.mu--card-overlay {
  height: 100%;
  width: 100%;
  background: linear-gradient(255deg, rgba(0, 0, 0, 0) 70%, #000 100%), linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, #000 100%);
  z-index: 50;
  position: absolute;
}

.mu--card-bg-image {
  height: 100%;
  width: 100%;
  z-index: 45;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  transition: 0.75s;
}

.mu--card-text-label {
  bottom: 10px;
  left: 10px;
  position: absolute;
  z-index: 55;
  color: #ffffff;
  font-family: Publico-Headline, serif;
  font-size: 24pt;
  transition: 0.5s;
  text-shadow: 0px 0px 3px #000;
}

/* Make it a bit smaller for multicards */
.mu--multicard .mu--card-text-label {
  font-size: 18pt;
}

.mu--card-link {
  position: relative;
  height: 100%;
  width: 100%;
  padding-right: 60px;
}

.mu--card-link a {
  text-decoration: none;
  display: inline-block;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 60;
}

.mu--card-link:hover a {
  text-decoration: underline;
}

.mu--card-link:hover .mu--card-bg-image {
  transform: scale(110%);
  background-position: center;
}

.mu--card-link:hover .mu--card-text-label {
  transition: 0.25s;
  text-shadow: 0px 0px 10px #000;
}

.mu--subtext-card-top {
  height: 60%;
  top: 0;
}

.mu--subtext-card-bottom {
  position: absolute;
  bottom: 0;
  background-color: #000000;
  width: 100%;
  height: 42%;
  color: #ffffff;
  padding: 0 60px 0 40px;
  box-sizing: border-box;
  font-size: 12pt;
  z-index: 60;
}

.mu--subtext-card-bottom h3 {
  font-family: Publico-Headline, serif;
  font-weight: bold;
  display: inline-block;
}

.mu--subtext-card-bottom h3:before {
  background-color: #19aced;
  content: '';
  display: block;
  height: 2px;
  left: 0;
  margin-top: 11px;
  position: absolute;
  width: 32px;
}

.mu--subtext-card-bottom a {
  color: #19aced;
  text-decoration: none;
  transition: 0.25s;
}

.mu--subtext-card-bottom a:hover {
  color: #bbebff;
  text-decoration: underline;
}

/* Used for mu--subtext-card-bottom primarily */
.mu--two-column-grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 1.5em;
}

.mu--two-column-grid {
  text-indent: -1em;
  padding-left: 1em;
}

.mu--card-links {
  display: flex;
  position: absolute;
  flex-direction: row-reverse;
  right: 0;
  top: 0;
}

.mu--card-links-right {
  flex-direction: column-reverse;
  bottom: 0;
  top: unset;
  margin-right: unset;
}

.mu--card-links a {
  flex-basis: 15vh;
  z-index: 70;
  text-shadow: 0px 0px 10px #000;
  background-color: RGBA(0, 0, 0, 0.5);
  border-radius: 0px 0 8px 8px;
  margin-top: 0px;
  margin-right: 4px;
  margin-bottom: auto;
  height: 48px;
  transition: 0.25s;
}

.mu--card-links-right a {
  border-radius: 8px 0 0 8px;
  margin-top: unset;
  margin-right: 0px;
  margin-bottom: 4px;
  margin-left: auto;
  height: unset;
  width: 48px;
}

.mu--card-links a:hover {
  height: 54px;
}

.mu--card-links-right a:hover {
  height: unset;
  width: 54px;
}

.mu--card-links .material-symbols-outlined {
  font-size: 15vh;
  color: #19aced;
  padding-top: 4px;
  transition: 0.25s;
}

.mu--card-links-right .material-symbols-outlined {
  padding-top: unset;
  padding-right: 4px;
}

.mu--card-links .material-symbols-outlined:hover {
  color: #bbebff;
  padding-top: 8px;
  transition: 0.25s;
}

.mu--card-links-right .material-symbols-outlined:hover {
  padding-top: unset;
  padding-right: 8px;
}

/* LIGHT VERSION */
.mu--card-links-light a {
  background-color: #ffffff;
  text-shadow: unset;
}

.mu--card-links-light a:hover {
  background-color: rgba(255, 255, 255, 0.85);
}

.mu--card-links-light a .material-symbols-outlined {
  color: #253b85;
}

.mu--card-links-light a .material-symbols-outlined:hover {
  color: #3a6fbf;
}
/* END LIGHT VERSION */

.mu--flexlink-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  height: 100%;
}

.mu--flexlink-container a {
  flex-basis: 100%;
  border-bottom: 4px solid #19aced;
  background-color: #004185;
  color: #ffffff;
  text-decoration: none;
  position: relative;
  transition: 0.25s;
}

.mu--flexlink-container a:hover {
  border-color: #bbebff;
}

.mu--flexlink-bg-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 45;
  transition: 0.75s;
}

.mu--flexlink-container a:hover .mu--flexlink-bg-image {
  transform: scale(110%);
}

.mu--flexlink-overlay {
  height: 100%;
  width: 100%;
  background: linear-gradient(255deg, rgba(0, 0, 0, 0) 70%, #000 100%), linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, #000 100%);
  z-index: 50;
  position: absolute;
  bottom: 0;
  left: 0;
}

.mu--flexlink-label {
  font-family: Publico-Headline, serif;
  font-size: 24pt;
  transition: 0.25s;
  position: absolute;
  bottom: 2%;
  left: 1%;
  text-shadow: 0px 0px 3px #000;
  z-index: 55;
}
/* End Custom HTML Cards CSS */
