:root {
  --mu-blue-dark: #0b2d50;
  --mu-blue: #004185;
  --mu-blue-medium-dark: #005ba2;
  --mu-blue-medium: #0075bf;
  --mu-blue-medium-light: #3a6fbf;
  --mu-blue-light: #19aced;
  --mu-blue-lightest: #bbebff;
  /* from Microsoft https://developer.microsoft.com/en-us/fluentui#/styles/web/colors/products */
  --ms-excel-green: #0c5f32;
  --ms-powerpoint-orange: #a92b1a;
  --ms-word-blue: #124078;
  --ms-onenote-purple: #5c1384;
  --ms-exchange-blue: #005a9e;
  --ms-teams-blue: #464775;
  --ms-microsoft365-purple: #664a96;
  /* Other non-color variables */
  --transition-speed: 0.25s;
  --circle-radius: 50%;
  --rectangle-radius: 4px;
}

/* 
  .mu-- classes are used in Experience
  .ss-- classes are used in Self-Service, they are shorter due to character limits in Self-Service customization.
*/

html {
  height: 100%;
  width: 100%;
}

.mu--body,
.mu--page-body,
.ss--pgb {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  line-height: normal;
  font-family: 'Noto Sans', Helvetica, Arial, sans-serif; /* Noto Sans is the Default font from Ellucian */
  container-type: size;
}

.mu--body {
  overflow: hidden;
}

.mu--body *,
.mu--page-body *,
.ss--pgb * {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Noto Sans', Helvetica, Arial, sans-serif; /* Noto Sans is the Default font from Ellucian */
}

.mu--body a,
.mu--page-body a,
.ss--pgb a {
  text-underline-offset: 2px;
  transition: var(--transition-speed);
}

.ss--pgb {
  min-width: 600px;
}

.ss--pgf {
  padding-top: 16px;
  font-size: 10pt;
}

.ss--pgf a {
  color: var(--mu-blue-light);
}

/* Imported from https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0 so I could shorten the class name */
/* fallback */
@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v271/kJF1BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzaxHMPdY43zj-jCxv3fzvRNU22ZXGJpEpjC_1v-p_4MrImHCIJIZrDCvHOej.woff2)
    format('woff2');
}

*.material-symbols-outlined,
*.material-symbols-outlined,
*.ss--mso {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
}

a .material-symbols-outlined,
a .material-symbols-outlined,
a .ss--mso {
  text-decoration: none;
}

a:hover .material-symbols-outlined,
a:hover .material-symbols-outlined,
a:hover .ss--mso {
  text-decoration: none;
}
/* Custom HTML Cards in Experience
  --------------------------------
*/

.mu--card {
  width: 100%;
  height: 100%;
  position: relative;
}

.mu--card-overlay {
  height: 100%;
  width: 100%;
  bottom: 0;
  left: 0;
  background: linear-gradient(255deg, rgba(0, 0, 0, 0) 70%, #000 100%), linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, #000 100%),
    linear-gradient(10deg, rgba(0, 0, 0, 0) 70%, #000 100%);
  z-index: 50;
  position: absolute;
}

.mu--card-bg-image {
  height: 100%;
  width: 100%;
  z-index: 45;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  transition: calc(var(--transition-speed) * 2.5);
}

.mu--card-text-label {
  bottom: 0;
  left: 0;
  padding-left: 10px;
  padding-bottom: 5px;
  position: absolute;
  z-index: 55;
  color: #ffffff;
  font-size: 20pt;
  text-shadow: 0px 0px 3px #000;
}

@media screen and (max-width: 440px) {
  .mu--card-text-label {
    font-size: 18pt;
  }
}

.mu--card-link {
  position: relative;
  height: 100%;
  width: 100%;
  padding-right: 60px;
}

.mu--card-link a {
  text-decoration: none;
  display: inline-block;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 60;
  overflow: hidden;
}

.mu--card-link:hover a {
  text-decoration: underline;
}

.mu--card-link:hover .mu--card-bg-image {
  transform: scale(105%);
  background-position: center;
}

.mu--card-link:hover .mu--card-text-label {
  text-decoration: underline;
}

.mu--subtext-card-top {
  height: 60%;
  top: 0;
}

.mu--subtext-card-top.mu--subtext-60 {
  height: 40%;
}

/* Multicard horizontal layout */
.mu--multicard {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  column-gap: 4px;
}

.mu--multicard .mu--card-link {
  flex-basis: 100%;
}

/* Make it a bit smaller for multicards */
.mu--multicard .mu--card-text-label {
  font-size: 16pt;
}

@media screen and (max-width: 440px) {
  /* Make it a bit smaller for multicards */
  .mu--multicard .mu--card-text-label {
    font-size: 14pt;
  }
}

/* Multicard stacked vertical layout */
.mu--multicard-stacked {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.mu--multicard-stacked .mu--card-link {
  padding-right: 0px;
  flex-basis: 100%;
}

.mu--multicard-stacked .mu--card-link a {
  border-bottom: 4px solid var(--mu-blue-light);
  background-color: var(--mu-blue);
  position: relative;
}

.mu--multicard-stacked .mu--card-link:hover a {
  border-color: var(--mu-blue-lightest);
  text-decoration: underline;
}

/* Bottom of cards */
.mu--subtext-card-bottom {
  position: absolute;
  bottom: 0;
  background-color: #000000;
  width: 100%;
  height: 40%;
  color: #ffffff;
  padding: 0 24px 0 24px;
  box-sizing: border-box;
  font-size: 11pt;
  z-index: 60;
  overflow-y: auto;
}

.mu--subtext-card-bottom.mu--subtext-60 {
  height: 60%;
}

@media screen and (max-width: 440px) {
  .mu--subtext-card-bottom {
    font-size: 10pt;
  }
}

.mu--subtext-card-bottom h3 {
  font-family: Roboto; /*Secondary Standard font from Ellucian */
  font-weight: bold;
  display: inline-block;
}

.mu--subtext-card-bottom h3:before {
  background-color: var(--mu-blue-light);
  content: '';
  display: block;
  height: 2px;
  left: 0;
  margin-top: 0.5em;
  position: absolute;
  width: 20px;
}

.mu--subtext-card-bottom a {
  color: var(--mu-blue-light);
  text-decoration: none;
}

.mu--subtext-card-bottom a:hover {
  color: var(--mu-blue-lightest);
  text-decoration: underline;
}

/* This haver their own settings */
.mu--subtext-card-bottom a.mu--link-button {
  color: unset;
}

.mu--subtext-card-bottom a.mu--link-button:hover {
  color: unset;
  text-decoration: unset;
}

/* Used for mu--subtext-card-bottom primarily */
.mu--two-column-grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 1.5em;
}

.mu--two-column-grid {
  text-indent: -1em;
  padding-left: 1em;
}

.mu--card-links {
  display: flex;
  position: absolute;
  flex-direction: row-reverse;
  right: 0;
  top: 0;
  height: 54px;
}

.mu--card-links-right {
  flex-direction: column-reverse;
  bottom: 0;
  top: unset;
  margin-right: unset;
  height: unset;
  width: 54px;
}

.mu--card-links a {
  flex-basis: 15vh;
  background-color: #ffffff;
  border-radius: var(--circle-radius);
  cursor: pointer;
  padding: 6px;
  margin-top: 8px;
  margin-right: 8px;
  margin-bottom: auto;
  height: 40px;
  width: 40px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.75);
  z-index: 69;
}

.mu--card-links-right a {
  margin-top: unset;
  margin-right: 8px;
  margin-bottom: 8px;
  margin-left: auto;
}

.mu--card-links a .material-symbols-outlined {
  color: var(--mu-blue-medium);
  font-size: 28px;
  transition: var(--transition-speed);
}

.mu--card-links a:hover {
  background-color: var(--mu-blue-medium-light);
}

.mu--card-links a:hover .material-symbols-outlined {
  color: #ffffff;
}

/* Dark Links */
.mu--card-links-dark a {
  background-color: rgba(0, 0, 0, 0.65);
}
.mu--card-links-dark a .material-symbols-outlined {
  color: var(--mu-blue-light);
}

.mu--card-links-dark a:hover {
  background-color: rgba(0, 0, 0, 0.75);
}

.mu--card-links-dark a:hover .material-symbols-outlined {
  color: var(--mu-blue-lightest);
}
/* END Dark Links */

/* Info Corners at the bottom right of a card
    Uses JavaScript function to then show/hide modal muInfoCardToggle()
  */
.mu--info-modal {
  position: absolute;
  visibility: hidden; /* overriden by JavaScript as needed */
  opacity: 0; /* overriden by JavaScript as needed */
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 10px;
  z-index: 80;
  transition: var(--transition-speed);
}

.mu--info-box {
  height: 100%;
  width: 100%;
  font-size: 11pt;
  color: var(--mu-blue-dark);
  background: #ffffff;
  border-radius: 8px;
  padding: 8px;
  box-shadow: 2px 2px 2px #000000;
  overflow-y: auto;
}

@media screen and (max-width: 440px) {
  .mu--info-box {
    font-size: 10pt;
  }
}

.mu--info-corner {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 30px;
  width: 30px;
  transition: var(--transition-speed);
  background-color: var(--mu-blue-medium);
  border-top-left-radius: calc(var(--circle-radius) * 2);
  box-shadow: 0px 2px 8px #000000;
  cursor: pointer;
  z-index: 85;
}

.mu--info-corner .mu--info-label {
  position: absolute;
  right: 0;
  bottom: 0;
  color: #ffffff;
  font-size: 12pt;
  padding-right: 4px;
  padding-bottom: 4px;
  transition: var(--transition-speed);
}

.mu--info-corner:hover {
  width: 42px;
  height: 42px;
  background-color: var(--mu-blue-medium-dark);
}

.mu--info-corner:hover .mu--info-label {
  font-size: 18pt;
}

.mu--info-box p,
.mu--modal-content p,
.mu--info-box h3,
.mu--modal-content h3 {
  line-height: 1.25;
  font-family: 'Roboto';
  padding-top: 0.75em;
}

.mu--info-box p:first-child,
.mu--modal-content p:first-child,
.mu--info-box h3:first-child,
.mu--modal-content h3:first-child {
  padding-top: 0;
}

.mu--info-box a:not(.mu--link-button),
.mu--modal-content a:not(.mu--link-button) {
  color: var(--mu-blue-medium);
  text-decoration-color: var(--mu-blue-light);
}

.mu--info-box a:not(.mu--link-button):hover,
.mu--modal-content a:not(.mu--link-button):hover {
  color: var(--mu-blue-medium-dark);
  text-decoration-color: var(--mu-blue-medium);
}

.mu--info-box ol,
.mu--info-box ul,
.mu--modal-content ol,
.mu--modal-content ul {
  margin-left: 2em;
}

.mu--info-box ul,
.mu--modal-content ul {
  list-style: none;
}

.mu--info-box li::marker,
.mu--modal-content li::marker {
  color: var(--mu-blue);
}

.mu--info-box ol li,
.mu--info-box ul li,
.mu--modal-content ol li,
.mu--modal-content ul li {
  padding-top: 0.25em;
}

.mu--info-box ol li:first-child,
.mu--info-box ul li:first-child,
.mu--modal-content ol li:first-child,
.mu--modal-content ul li:first-child {
  padding-top: unset;
}

/* Modal Links */
#modal-shade {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 10px;
  z-index: 70;
  transition: var(--transition-speed);
}

#modal-shade.mu--modal-top {
  padding-top: 54px;
}

.mu--card-links a.mu--modals {
  background-color: var(--mu-blue-medium);
  z-index: 79;
}

.mu--card-links a.mu--modals:hover {
  background-color: var(--mu-blue-medium-dark);
}

.mu--card-links a.mu--modals .material-symbols-outlined,
.mu--card-links a.mu--modals .ss--mso {
  color: #ffffff;
}

.mu--indicator {
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  border-style: solid;
  border-width: 0 8px 8px 8px;
  border-color: transparent transparent #ffffff transparent;
  position: absolute;
  z-index: 71;
}

.mu--indicator-right {
  border-width: 0 8px 8px 8px;
}

.mu--modal-content {
  height: 100%;
  width: 100%;
  color: var(--mu-blue-dark);
  font-size: 11pt;
  background: #ffffff;
  border-radius: 8px;
  padding: 8px;
  box-shadow: 2px 2px 2px #000000;
  z-index: 75;
  overflow-y: auto;
}

@media screen and (max-width: 440px) {
  .mu--modal-content {
    font-size: 10pt;
  }
}

.mu--modal-shade-closed {
  opacity: 0;
  background-color: rgba(0, 0, 0, 0);
}

.mu--modal-closed {
  visibility: hidden;
  display: none;
}

.mu--modal-open {
  visibility: visible;
  display: block;
}

.mu--modal-shade-open {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

.mu--card-links a[data-open] {
  background-color: var(--mu-blue-light);
}

.mu--card-links a[data-open]:hover {
  background-color: var(--mu-blue-medium-light);
}

.mu--card-links a[data-open] .material-symbols-outlined,
.mu--card-links a[data-open] .ss--mso {
  color: #ffffff;
}

/* Page styles */
.mu--page-header,
.ss--pgh {
  width: 100%;
  padding: 8px;
  background-color: var(--mu-blue);
  color: #ffffff;
  font-family: 'Noto Sans', sans;
  font-size: 18pt;
  border-top-left-radius: var(--rectangle-radius);
  border-top-right-radius: var(--rectangle-radius);
  text-align: center;
}

.mu--page-content,
.ss--pgc {
  width: 100%;
  padding: 16px;
  background-color: #ffffff;
  color: var(--mu-blue-dark);
  font-size: 12pt;
  border-bottom-left-radius: var(--rectangle-radius);
  border-bottom-right-radius: var(--rectangle-radius);
  border: 2px solid var(--mu-blue);
  margin-bottom: 24px;
}

.mu--page-content.mu--dark,
.ss--pgc.ss--dark {
  background-color: #333333;
  color: #ffffff;
}

.mu--page-content.mu--dark a,
.ss--pgc.ss--dark a {
  color: var(--mu-blue-light);
}

.mu--page-content.mu--dark a:hover,
.ss--pgc.ss--dark a:hover {
  color: var(--mu-blue-medium-light);
}

.mu--page-content p,
.ss-pgc p {
  padding-top: 0.5em;
}

.mu--page-content p:first-child,
.ss--pbc p:first-child {
  padding-top: unset;
}

/* Shade allows futerher darkening background, great for link button cards */
.mu--card-shade {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 8px;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.6);
  overflow-y: auto;
  z-index: 50;
}

/* For holding Link Buttons that flex */
.mu--flex-link-container,
.ss--flc {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 4px;
}

/* Link Button Basic Styling */
.mu--link-button,
.ss--btn {
  display: inline-flex;
  flex-basis: 45%; /* Under half, so there is some give or take for those items that don't quite split nicely */
  flex-grow: 1;
  white-space: nowrap;
  color: var(--mu-blue-dark);
  background-color: #ffffff;
  border: 2px solid var(--mu-blue-medium-light);
  border-radius: calc(var(--rectangle-radius) + 2px);
  font-size: 9.5pt;
  font-weight: bold;
  height: 44px;
  margin-top: 8px;
  text-decoration: none;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.75);
}

.mu--link-button:hover,
.ss--btn:hover {
  color: #ffffff;
  background-color: var(--mu-blue-medium-light);
  border-color: #ffffff;
}

.mu--link-button:hover .mu--link-label,
.ss--btn:hover .ss--lbl {
  text-decoration: underline;
}

.mu--link-button .mu--link-icon,
.mu--link-button .material-symbols-outlined,
.ss--btn .ss--mso {
  padding: 4px;
  font-size: 32px;
  height: 40px;
  width: 40px;
  color: var(--mu-blue-medium);
  background-color: #ffffff;
  border-top-left-radius: var(--rectangle-radius);
  border-bottom-left-radius: var(--rectangle-radius);
  box-shadow: 2px 0px 4px -1px rgba(0, 0, 0, 0.5);
  transition: var(--transition-speed);
}

.mu--link-button .mu--link-icon,
.ss--btn .ss--ico {
  padding-top: 2px; /* Some reason 4px doesn't work for top with the icons*/
}

.mu--link-button .mu--link-label,
.ss--btn .ss--lbl {
  margin: 4px 8px 4px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Sub label variant */
.mu--link-button.mu--has-sub-label .mu--link-label,
.ss--btn.ss--hsl .ss--lbl {
  display: unset;
  text-decoration: unset;
}

.mu--link-button.mu--has-sub-label .mu--link-label :last-child,
.ss--btn.ss--btn.ss--hsl .ss--lbl :last-child {
  font-size: 8pt;
  font-weight: normal;
}

.mu--link-button.mu--has-sub-label:hover .mu--link-label :first-child,
.ss--btn.ss--btn.ss--hsl:hover .ss--lbl :first-child {
  text-decoration: underline;
}

/* Link Button Dark Variant */
.mu--link-button-dark {
  background-color: var(--mu-blue-dark);
}

.mu--link-button-dark:hover {
  background-color: var(--mu-blue);
}

.mu--link-button-dark .mu--link-label {
  color: #ffffff;
}

.mu--link-button-dark .material-symbols-outlined,
.mu--link-button-dark .ss--mso {
  color: #ffffff;
  background-color: var(--mu-blue);
}

.mu--link-button-dark:hover .material-symbols-outlined,
.mu--link-button-dark:hover .ss--mso {
  background-color: var(--mu-blue-medium-dark);
}

.mu--link-button-dark .mu--link-icon {
  background-color: #333333;
}

/* Link Button Medium Variant */
.mu--link-button-medium {
  height: 36px;
}

.mu--link-button-medium .mu--link-icon,
.mu--link-button-medium .material-symbols-outlined,
.mu--link-button-medium .ss--mso {
  height: 32px;
  width: 32px;
  font-size: 24px;
}

.mu--link-button-medium.mu--has-sub-label .mu--link-label {
  margin-top: 0;
}

/* Link Button Small Variant */
.mu--link-button-small {
  font-size: 9pt;
  height: 28px;
}

.mu--link-button-small .mu--link-icon,
.mu--link-button-small .material-symbols-outlined,
.mu--link-button-small .ss--mso {
  font-size: 16px;
  height: 24px;
  width: 24px;
}

/* Stand alone link buttons */
.mu--link-button.mu--link-button-standalone {
  flex-basis: unset;
  flex-grow: unset;
}
