* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

a {
  text-underline-offset: 2px;
  transition: var(--transition-speed);
}

html {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Noto Sans', Helvetica, Arial, sans-serif; /* Noto Sans is the Default font from Ellucian */
  height: 100%;
  width: 100%;
  overflow: hidden;
}

div {
  overflow: hidden;
}

:root {
  --mu-blue-dark: #0b2d50;
  --mu-blue: #004185;
  --mu-blue-medium-dark: #005ba2;
  --mu-blue-medium: #0075bf;
  --mu-blue-medium-light: #3a6fbf;
  --mu-blue-light: #19aced;
  --mu-blue-lightest: #bbebff;
  /* from Microsoft https://developer.microsoft.com/en-us/fluentui#/styles/web/colors/products */
  --ms-excel-green: #0c5f32;
  --ms-powerpoint-orange: #a92b1a;
  --ms-word-blue: #124078;
  --ms-onenote-purple: #5c1384;
  --ms-exchange-blue: #005a9e;
  --ms-teams-blue: #464775;
  --ms-microsoft365-purple: #664a96;
  /* Other non-color variables */
  --transition-speed: 0.25s;
}

/* Custom HTML Cards in Experience
  --------------------------------
*/

.mu--card {
  width: 100%;
  height: 100%;
  position: relative;
}

.mu--card-overlay {
  height: 100%;
  width: 100%;
  bottom: 0;
  left: 0;
  background: linear-gradient(255deg, rgba(0, 0, 0, 0) 70%, #000 100%), linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, #000 100%);
  z-index: 50;
  position: absolute;
}

.mu--card-bg-image {
  height: 100%;
  width: 100%;
  z-index: 45;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  transition: calc(var(--transition-speed) * 2.5);
}

.mu--card-text-label {
  bottom: 0;
  left: 0;
  padding-left: 10px;
  padding-bottom: 5px;
  position: absolute;
  z-index: 55;
  color: #ffffff;
  font-size: 20pt;
  text-shadow: 0px 0px 3px #000;
}

@media screen and (max-width: 440px) {
  .mu--card-text-label {
    font-size: 18pt;
  }
}

.mu--card-link {
  position: relative;
  height: 100%;
  width: 100%;
  padding-right: 60px;
}

.mu--card-link a {
  text-decoration: none;
  display: inline-block;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 60;
  overflow: hidden;
}

.mu--card-link:hover a {
  text-decoration: underline;
}

.mu--card-link:hover .mu--card-bg-image {
  transform: scale(105%);
  background-position: center;
}

.mu--card-link:hover .mu--card-text-label {
  text-decoration: underline;
}

.mu--subtext-card-top {
  height: 60%;
  top: 0;
}

/* Multicard horizontal layout */
.mu--multicard {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  column-gap: 4px;
}

.mu--multicard .mu--card-link {
  flex-basis: 100%;
}

/* Make it a bit smaller for multicards */
.mu--multicard .mu--card-text-label {
  font-size: 16pt;
}

@media screen and (max-width: 440px) {
  /* Make it a bit smaller for multicards */
  .mu--multicard .mu--card-text-label {
    font-size: 14pt;
  }
}

/* Multicard stacked vertical layout */
.mu--multicard-stacked {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.mu--multicard-stacked .mu--card-link {
  padding-right: 0px;
  flex-basis: 100%;
}

.mu--multicard-stacked .mu--card-link a {
  border-bottom: 4px solid var(--mu-blue-light);
  background-color: var(--mu-blue);
  position: relative;
}

.mu--multicard-stacked .mu--card-link:hover a {
  border-color: var(--mu-blue-lightest);
  text-decoration: underline;
}

/* Bottom of cards */
.mu--subtext-card-bottom {
  position: absolute;
  bottom: 0;
  background-color: #000000;
  width: 100%;
  height: 42%;
  color: #ffffff;
  padding: 0 60px 0 40px;
  box-sizing: border-box;
  font-size: 11pt;
  z-index: 60;
}

@media screen and (max-width: 440px) {
  .mu--subtext-card-bottom {
    font-size: 10pt;
  }
}

.mu--subtext-card-bottom h3 {
  font-family: Roboto; /*Secondary Standard font from Ellucian */
  font-weight: bold;
  display: inline-block;
}

.mu--subtext-card-bottom h3:before {
  background-color: var(--mu-blue-light);
  content: '';
  display: block;
  height: 2px;
  left: 0;
  margin-top: 11px;
  position: absolute;
  width: 32px;
}

.mu--subtext-card-bottom a {
  color: var(--mu-blue-light);
  text-decoration: none;
}

.mu--subtext-card-bottom a:hover {
  color: var(--mu-blue-lightest);
  text-decoration: underline;
}

/* Used for mu--subtext-card-bottom primarily */
.mu--two-column-grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 1.5em;
}

.mu--two-column-grid {
  text-indent: -1em;
  padding-left: 1em;
}

.mu--card-links {
  display: flex;
  position: absolute;
  flex-direction: row-reverse;
  right: 0;
  top: 0;
  height: 54px;
  z-index: 79;
}

.mu--card-links-right {
  flex-direction: column-reverse;
  bottom: 0;
  top: unset;
  margin-right: unset;
  height: unset;
  width: 54px;
}

.mu--card-links a {
  flex-basis: 15vh;
  background-color: #ffffff;
  border-radius: 50%;
  padding: 6px;
  margin-top: 8px;
  margin-right: 8px;
  margin-bottom: auto;
  height: 40px;
  width: 40px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.75);
}

.mu--card-links-right a {
  margin-top: unset;
  margin-right: 8px;
  margin-bottom: 8px;
  margin-left: auto;
}

.mu--card-links a .material-symbols-outlined {
  color: var(--mu-blue-medium);
  font-size: 28px;
  transition: var(--transition-speed);
}

.mu--card-links a:hover {
  background-color: var(--mu-blue-medium-light);
}

.mu--card-links a:hover .material-symbols-outlined {
  color: #ffffff;
}

/* Dark Links */
.mu--card-links-dark a {
  background-color: rgba(0, 0, 0, 0.65);
}
.mu--card-links-dark a .material-symbols-outlined {
  color: var(--mu-blue-light);
}

.mu--card-links-dark a:hover {
  background-color: rgba(0, 0, 0, 0.75);
}

.mu--card-links-dark a:hover .material-symbols-outlined {
  color: var(--mu-blue-lightest);
}
/* END Dark Links */

/* Info Corners at the bottom right of a card
    Uses JavaScript function to then show/hide modal muInfoCardToggle()
  */
.mu--info-modal {
  position: absolute;
  visibility: hidden; /* overriden by JavaScript as needed */
  opacity: 0; /* overriden by JavaScript as needed */
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 10px;
  z-index: 80;
  transition: var(--transition-speed);
}

.mu--info-box {
  height: 100%;
  width: 100%;
  font-size: 11pt;
  color: var(--mu-blue-dark);
  background: #ffffff;
  border-radius: 8px;
  padding: 8px;
  box-shadow: 2px 2px 2px #000000;
}

@media screen and (max-width: 440px) {
  .mu--info-box {
    font-size: 10pt;
  }
}

.mu--info-corner {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 30px;
  width: 30px;
  transition: var(--transition-speed);
  background-color: var(--mu-blue-medium);
  border-top-left-radius: 100%;
  box-shadow: 0px 2px 8px #000000;
  z-index: 85;
}

.mu--info-label {
  position: absolute;
  right: 0;
  bottom: 0;
  color: #ffffff;
  font-size: 12pt;
  padding-right: 4px;
  padding-bottom: 4px;
  transition: var(--transition-speed);
}

.mu--info-corner:hover {
  width: 42px;
  height: 42px;
  background-color: var(--mu-blue-medium-dark);
}

.mu--info-corner:hover .mu--info-label {
  font-size: 18pt;
}

.mu--info-box p,
.mu--modal-content p {
  line-height: 1.25;
  font-family: 'Roboto';
  padding-top: 1em;
}

.mu--info-box p:first-child,
.mu--modal-content p:first-child {
  padding-top: 0;
}

.mu--info-box a,
.mu--modal-content a {
  color: var(--mu-blue-medium);
  text-decoration-color: var(--mu-blue-light);
}

.mu--info-box a:hover,
.mu--modal-content a:hover {
  color: var(--mu-blue-medium-dark);
  text-decoration-color: var(--mu-blue-medium);
}

.mu--info-box ol,
.mu--info-box ul,
.mu--modal-content ol,
.mu--modal-content ul {
  margin-left: 2em;
}

.mu--info-box li::marker,
.mu--modal-content li::marker {
  color: var(--mu-blue);
}

/* Modal Links */
#modal-shade {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 10px;
  z-index: 70;
  transition: var(--transition-speed);
}

#modal-shade.mu--modal-top {
  padding-top: 54px;
}

.mu--indicator {
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  border-style: solid;
  border-width: 0 8px 8px 8px;
  border-color: transparent transparent #ffffff transparent;
  position: absolute;
  z-index: 71;
}

.mu--indicator-right {
  border-width: 0 8px 8px 8px;
}

.mu--modal-content {
  height: 100%;
  width: 100%;
  color: var(--mu-blue-dark);
  font-size: 11pt;
  background: #ffffff;
  border-radius: 8px;
  padding: 8px;
  box-shadow: 2px 2px 2px #000000;
  z-index: 75;
}

@media screen and (max-width: 440px) {
  .mu--modal-content {
    font-size: 10pt;
  }
}

.mu--modal-shade-closed {
  opacity: 0;
  background-color: rgba(0, 0, 0, 0);
}

.mu--modal-closed {
  visibility: hidden;
  display: none;
}

.mu--modal-open {
  visibility: visible;
  display: block;
}

.mu--modal-shade-open {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

.mu--card-links a[data-open] {
  background-color: var(--mu-blue-light);
}

.mu--card-links a[data-open]:hover {
  background-color: var(--mu-blue-medium-light);
}

.mu--card-links a[data-open] .material-symbols-outlined {
  color: #ffffff;
}
/* End Custom HTML Cards CSS */

/* Stacked Links */
.mu--multilink-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 1%;
}

.mu--multilink-card a.mu--multilink {
  display: inline-flex;
  flex-basis: calc(98% / 3);
  background-color: #ffffff;
  color: var(--mu-blue-dark);
  border: 2px solid var(--mu-blue-dark);
  border-radius: 22px;
  font-size: 10pt;
  font-weight: bold;
  height: 44px;
  margin-top: 10px;
  text-decoration: none;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.75);
}

@media screen and (max-width: 500px) {
  .mu--multilink-card a.mu--multilink {
    flex-basis: 49.5%;
  }
}

.mu--multilink-card a.mu--multilink span.mu--link-icon {
  background-color: #ffffff;
  border-radius: 20px;
  height: 40px;
  width: 40px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.75);
  padding: 4px;
  text-decoration: none;
}

.mu--multilink-card a.mu--multilink span.material-symbols-outlined {
  background-color: #ffffff;
  border-radius: 20px;
  height: 40px;
  width: 40px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.75);
  padding: 6px;
  text-decoration: none;
  color: var(--mu-blue-medium);
  font-size: 28px;
  transition: var(--transition-speed);
}

.mu--multilink-card a.mu--multilink span.mu--link-label {
  margin: 4px 4px 4px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mu--multilink-card a.mu--multilink:hover {
  background-color: var(--mu-blue-medium-light);
  border-color: #ffffff;
  color: #ffffff;
  text-decoration: underline;
}

.mu--multilink-card a.mu--multilink:hover span.material-symbols-outlined {
  text-decoration: none;
}
